@font-face {
	font-family: 'Roboto Slab';
	src:url('../fonts/RobotoSlab-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Thin';
	src:url('../fonts/RobotoSlab-Thin.ttf');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'Roboto Light';
	src:url('../fonts/RobotoSlab-Light.ttf');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'Roboto Bold';
	src:url('../fonts/RobotoSlab-Bold.ttf');
	font-weight: normal;
	font-style: normal; 
}